@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.container{
    padding:50px;
    display: flex;
    gap:5em;
}

.imgContainer{
    width: 100px;
    height: 100px;    
    position:relative;
}

.imgColumn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    flex:2;
}

.right{
    flex:1;
    display:flex;
    justify-content: center;
}

.table{
    text-align: center;
    width:100%;
    border-spacing:20px;
}

.name{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.total{
    font-weight: bold;
}

.wrapper{
    background-color: burlywood;
    padding:50px;
    width:300px;
    max-height:300px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.totalText{
    margin:10px 0;
    font-size:17px;
}

.totalTextTitle{
    font-size: large;
}

.button{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin:10px 0;
    padding:5px 0;
    width:100%;
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    transition: all 0.6s ease;
    cursor: pointer;
}

.button:hover{
    background-color: white;
}

@media screen and (max-width:720px){
    .container{
        flex-direction: column;
    }

    .table{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tableHead{
        display:none;
    }

    .tr{
        display:flex;
        flex-direction: column;
        margin-bottom:4em;
        gap:.4em;
    }

    .name,.total{
        font-size: 22px;
    }

    .imgContainer{
        width:150px;
        height:150px;
    }

    .extras,.price,.quantity{
        font-size: 18px;
    }

    .extras::before{
        content:"Extras: ";
        font-weight: bold;
    }

    .price::before{
        content:"Price: ";
        font-weight: bold;
    }

    .quantity::before{
        content:"Quantity: ";
        font-weight: bold;
    }
}
