@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1em 2em;
    position: sticky;
    background-color: black;
    color:white;
    top:0;
    z-index:100;
}

.item{
    flex:1;
    display: flex;
    justify-content: center;
}

.item:nth-child(2){
    flex:3;
}

.logo{
    font-family: 'Tangerine', cursive;
    font-size:50px;
    cursor: pointer;
}

.list{
    display: flex;
    gap:1.3em;
}

.listItem{
    font-family: 'Cinzel', serif;        
    font-size: 18px;
    list-style: none;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top:-10px;
    right:-10px;
    height:20px;
    width:20px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.mobileItem{
    background-color: black;
    color: white;
    display:none;
}

@media screen and (max-width:720px){
    .item:nth-child(2){
        display: none;
    }

    .item:first-child{
        flex:2;
    }

    .mobileItem{
        
        display:block;
    }

    .mobileList{
        font-family: 'Cinzel', serif;        
        font-size: 18px;
        display:flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        box-sizing:border-box;
    }

    .mobileListItem{
        list-style: none;
    }
}